<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  {% block title %}<title>Motion Dataset Viewer</title>{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v6.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/pca-js@1.0.0/pca.min.js"></script>
  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>

  <!-- Shared JS and CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='util.js') }}"></script>

  {% block imports %}
  {% endblock %}
</head>

<body>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  {% block code %}{% endblock %}
</body>
</html>
